<div class="row justify-content-md-center mt-2">
        <div class="col col-md-11">
            <h2>Collectibles Management for Admins</h2>
            {{#if message}}
                <div class="alert {{messageClass}}" role="alert">
                    {{message}}
                </div>
                <br>
            {{/if}}
            <p>You can manage the collectibles for your admin type on this page.  You will only see collectibles that you have permission to update in this table.</p>
            <p>Click on the table headers to sort the collectibles by the clicked column.</p>

            {{#if showAllAttributes}}
            <form action='/manage-collectible' method='post' class="form-example">
                <table class="table table-striped">
                    <tr>
                        <th>Collectible id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Year Released</th>
                        <th>Squad</th>
                        <th>Size</th>
                        <th>Date Added to Database</th>
                        <th>Date Last Updated</th>
                        <th>Image</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                    {{#each collectibles}}
                        <tr>
                            <td>{{{collectible_id}}}</td>
                            <td style="word-break:break-all;"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                            <td>{{{type_name}}}</td> 
                            <td>{{{year_released}}}</td>    
                            <td>{{{squad}}}</td>          
                            <td>{{{sizes}}}</td>                      
                            <td>{{{created_at}}}</td>
                            <td>{{{updated_at}}}</td>
                            <td><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>
                            <td><button type="submit" name="collectible_id" class="btn btn-secondary" value="{{{collectible_id}}}">Delete</button></td>
                            <td><a href="/edit-collectible/{{{collectible_id}}}">Update</a></td>
                        </tr>
                    {{/each}}
                </table>
            </form>
            {{/if}} 
        </div>      
    </div>
</div>
<script src="/js/sortTable.js"></script>
<link rel="stylesheet" href="/css/managecollectible.css"/>